@font-face {
    font-family: 'Gilroy-Thin';
    src: url('Gilroy-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-UltraLight';
    src: url('Gilroy-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-Light';
    src: url('Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-Regular';
    src: url('Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-Medium';
    src: url('Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-Semibold';
    src: url('Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-Bold';
    src: url('Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-Extrabold';
    src: url('Gilroy-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-Black';
    src: url('Gilroy-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-Heavy';
    src: url('Gilroy-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
